.discover {
  height: 100%;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;

  &__cta {
    @include user-select(none);
    @include transition(all, 200ms);

    width: 100%;
    > span {
      font-size: $font-size-large;
      font-weight: 400;
    }
  }
}
