.hostpanelpay {
  &-tag {
    font-size: $font-size-tag;
    color: $color-primary;
    font-weight: 600;
    text-transform: uppercase;
  }
  &-value {
    margin-top: -5px;
    font-size: $font-size-large;
    color: $color-secondary;
  }
  > button {
    @include transition(all, 200ms);
    @include user-select(none);
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    outline: 0;

    color: white;
    border-radius: 5px;
    font-size: $font-size-small;
    font-family: "Open Sans";

    &:hover { cursor: pointer; transform: scale(1.05); }
    &:active { opacity: .75; }

    &.banktransfer {
      background-color: $color-primary;
      box-shadow: inset 0 -11px 12px 0 rgba(5,45,84,0.05);
    }
    &.viewstripe {
      background-color: $color-secondary;
    }
  }
}
