.hostactivity {
  width: 50%;
  min-width: 300px;
  flex: 1;
  height: auto;

  background-color: white;
  border-radius: 5px;
  box-shadow: $shadow-ssss;
  position: relative;
  overflow: hidden;

}
