.support {
  height: 100%;
  width: 100%;
  min-width: 600px;
  max-width: 850px;
  &__top {
    width: 100%;
    &-space {
      width: $border-padding-inner;
    }
    &_box {
      padding-top: 40px;
      padding-bottom: 40px;
      flex: 2;
      background-color: white;
      border-radius: 5px;
      box-shadow: $shadow-sssss;
      > img {
        height: 50px;
        width: 50px;
        padding: 10px;
        border-radius: 12px;
        box-shadow: inset 0 -11px 12px 0 rgba(5,45,84,0.05);
      }
      &-title {
        font-size: $font-size-large;
        font-weight: 300;
        color: $color-secondary;
      }
      &-desc {
        font-size: $font-size-small;
        font-weight: 400;
        color: $color-secondary-25;
        &.success {
          background-color: $color-green;
          padding-left: 5px;
          padding-right: 5px;
          border-radius: 5px;
          color: white;
          font-weight: 500;
        }
      }
      > a > button {
        @include transition(all, 200ms);
        @include user-select(none);
        box-shadow: inset 0 -11px 12px 0 rgba(5,45,84,0.05);
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;

        border: 1px solid $color-secondary-10;
        background-color: white;
        border-radius: 5px;
        box-shadow: $shadow-ss;

        font-size: $font-size-small;
        font-weight: 500;
        font-family: "Open Sans";
        color: $color-secondary;

        &:hover {
          cursor: pointer;
          box-shadow: $shadow-sss;
          background-color: $color-primary-lighter;
        }
        &:active {
          opacity: .75;
        }
      }

      > button {
        @include transition(all, 200ms);
        @include user-select(none);
        box-shadow: inset 0 -11px 12px 0 rgba(5,45,84,0.05);
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;

        border: 1px solid $color-secondary-10;
        background-color: white;
        border-radius: 5px;
        box-shadow: $shadow-ss;

        font-size: $font-size-small;
        font-weight: 500;
        font-family: "Open Sans";
        color: $color-secondary;

        &:hover {
          cursor: pointer;
          box-shadow: $shadow-sss;
          background-color: $color-primary-lighter;
        }
        &:active {
          opacity: .75;
        }
      }
    }
  }

  &__community {
    height: 120px;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    box-shadow: $shadow-ssss;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    overflow: hidden;
    z-index: 4;
    &_left {
      height: 100%;
      z-index: 6;
      &-text {
        height: 100%;
        > p {
          margin-top: 10px;
          font-size: $font-size-large;
          color: $color-secondary;
        }
        > span {
          font-size: $font-size-small;
          color: $color-secondary-25;
        }
      }
      &-tag {
        position: absolute;
        top: 0;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;

        background-color: $color-primary;
        color: white;

        font-size: $font-size-tag-small;
        font-weight: 600;
        border-radius: 0px 0px 8px 8px;
        text-transform: uppercase;
      }
    }

    > img {
      position: absolute;
      width: 60%;
      right: 0;
      bottom: -30px;
      z-index: 5;
    }

    > a {
      z-index: 6;
      > button {
        @include transition(all, 200ms);
        @include user-select(none);
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        z-index: 9999 !important;

        border: none;
        background-color: white;
        border-radius: 5px;

        font-size: $font-size-small;
        font-weight: 500;
        font-family: "Open Sans";
        color: $color-secondary;

        &:hover {
          cursor: pointer;
          background-color: $color-secondary;
          color: white;
        }
        &:active { opacity: .75 }
      }
    }
  }

}

.supportoverlay {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 999;
  top: 0;
  left: 0;
}

.spacever {
  height: $border-padding-inner;
}
