.appheader {
  width: 100%;
  height: auto;
  z-index: 99998;

  background-color: white;
  box-shadow: 0px 0px 2px $color-secondary-10;

  padding-left: calc(20px + 1%);
  padding-right: calc(20px + 1%);

  > a {
    height: 24px;
    &:hover {
      cursor: pointer;
    }
  }

  &__search {
    width: 25%;
    height: 36px;

    background-color: $color-primary-lighter;
    border: 1px solid $color-primary-lighter;
    border-radius: 50px;
    color: $color-primary-light;
  }

  &__user {
    position: relative;
    height: 64px;
    > span {
      color: white;
      font-size: $font-size-reg;
      margin-right: 10px;
    }
    &-thumb {
      height: 36px;
      width: 36px;
      border-radius: 50px;
      background-color: $color-primary-light;
      overflow: hidden;
      > img {
        height: 100%;
        width: 100%;
      }
    }


    &_drop {
      position: absolute;
      display: none;
      z-index: 99999;

      top: 65px;
      transform: scale(.9);
      opacity: 0;
      height: 0;

      background-color: white;
      box-shadow: 0 5px 5px 0 rgba(2,22,41,0.03), 0 3px 3px 0 rgba(2,22,41,0.05), 0px 10px 10px 0 rgba(2,22,41,0.02);
      border-radius: 0px 0px 5px 5px;

      &-name {
        padding: 20px;
        font-size: $font-size-reg;
        width: 100%;
        white-space: nowrap;
        font-weight: 600;

        > a {
          @include transition(all, 200ms);
          font-size: $font-size-small;
          color: $color-primary;
          font-weight: 500;
          margin-top: 5px;
          &:hover {
            cursor: pointer;
            opacity: .5;
          }
        }
      }

      &-item {

        @include user-select(none);
        @include transition(all, 200ms);
        padding-left: 20px;
        padding-right: 20px;
        > span {
          text-overflow: ellipsis;
          flex: 1;
          width: 100%;
          overflow: hidden;
          white-space: nowrap;
          text-transform: capitalize;
          font-size: $font-size-small;
          font-weight: 500;
          color: $color-primary;
        }
        &-tag {
          position: absolute;
          height: 5px;
          width: 5px;
          background-color: $color-primary;
          left: -2.5px;
          border-radius: 50px;
          box-shadow: 0px 0px 10px $color-primary;
          &:not(.active) {
            display: none;
          }
        }
        &:hover {
          cursor: pointer;
          background-color: $color-primary-lighter;
          > span {
            color: $color-secondary;
          }
        }
        &:active {
          opacity: .5;
        }
        &.large {
          padding-top: 15px;
          padding-bottom: 15px;
          > img {
            height: 20px;
          }
        }
        &-imgc {
          height: 20px;
          width: 20px;
          border-radius: 50px;
          background-color: $color-primary-light;
          border: 1px solid $color-primary;
        }
      }
    }
  }
}

.appheader__user:hover > .appheader__user_drop {
  display: flex;
  transform: scale(1);
  flex-direction: column;
  opacity: 1;
  height: auto;
}
