.circlecard {
  @include transition(all, 200ms);
  @include size-one {
    width: 47%;
    margin: 1.5%;

    &__img { height: 27vw; }
  }
  @include size-two {
    width: 47%;
    margin: 1.5%;

    &__img { height: 25vw; }
  }
  @include size-three {
    width: 31.3%;
    margin: 1%;

    &__img { height: 18vw; }
  }
  @include size-four {
    width: 23%;
    margin: 1%;

    &__img { height: 14vw; }
  }
  @include size-five {
    width: 18.5%;
    margin: .75%;

    &__img { height: 11vw; }
  }

  transform: scale(1);

  &__img {
    width: 100%;
    background-color: $color-primary;
    @include border-radius(5px);
    overflow: hidden;
    > img {
      width: 100%;
      min-width: 100%;
      min-height: 100%;
      opacity: .75;
    }
  }

  &__cont {
    margin-top: 10px;
    width: 100%;
    > span {
      width: 100%;
      font-size: $font-size-small;
      font-weight: 600;
      color: $color-secondary;
    }
    &-title {
      font-size: $font-size-reg !important;
      font-weight: 600;
      width: 100%;
    }
    &-spots {
      color: $color-secondary-50 !important;
    }
    &-price {
      font-weight: 600;
      color: $color-primary !important;
    }
  }

  &:hover {
    cursor: pointer;
    opacity: .75;
  }
  &:active {
    opacity: .95;
  }
}
