.socialbuttons {
  height: 50px;
  width: 200px;
  margin-bottom: 15%;
  &__button {
    > div {
      @include transition(all, 200ms);
      @include border-radius(50px);
      overflow: hidden;
      height: 50px;
      width: 50px;
      background-color: $color-primary-light;
      img {
        fill: $color-secondary-10;
        z-index: 7;
      }
      &:hover {
        cursor: pointer;
        background-color: $color-primary;
      }
    }
  }
}
