.newheader {
  height: 50px;
  width: 100%;
  padding-left: calc(20px + 1%);
  padding-right: calc(20px + 1%);
  background-color: white;
  box-shadow: 0px 2px 2px $color-secondary-05;

  > img {
    height: 22px;
  }
}

.header_progress {
  width: 100%;
  height: 6px;
  background-color: $color-secondary-05;

  > div {
    width: 5%;
    height: 100%;
    border-radius: 0px 5px 5px 0px;
    background-color: $color-primary;
  }
}

.create {
  height: 100vh;
  width: 100vw;

  &__inner {
    flex: 1;
    width: 100%;

    &_cont {
      flex: 1;
      width: 100%;
    }

    &_brow {
      height: 20%;
      width: 100%;
      margin-bottom: 40px;

      box-shadow: 0px -2px 10px $color-secondary-05;

      > div {
        @include transition(all, 200ms);
        @include user-select(none);

        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 25px;
        padding-right: 25px;

        border-radius: 50px;
        font-weight: 600;

        &:hover { cursor: pointer; }
        &:active { opacity: .75; }
      }
      > div.back {
        color: $color-primary;
      }
      > div.next {
        background-color: $color-primary;
        color: white;
        &:hover { transform: scale(1.05); }
      }
    }
  }
}
