.header {
  &:not(.trnsp) {
    background-color: white;
    box-shadow: 0px 2px 2px $color-secondary-05;
  }
  width: 100%;
  padding-left: calc(20px + 1%);
  padding-right: calc(20px + 1%);

  &.include_banner {
    @include size-five {
      height: calc($header-height+$header-height);
      padding-top: $header-height;
    }
    @include size-four {
      height: calc($header-height+$header-height);
      padding-top: $header-height;
    }
    @include size-three {
      height: calc($header-height+$header-height+$header-height);
      padding-top: 120px;
    }
    @include size-two {
      height: calc($header-height+$header-height+$header-height);
      padding-top: 120px;
    }
    @include size-one {
      height: calc($header-height+$header-height+$header-height);
      padding-top: 120px;
    }
  }
  
  &.circle_page {
    position: absolute;
    background-color: transparent;
    z-index: 9999;
    box-shadow: 0px 0px 0px transparent;
  }
  &_l {
    > a > img {
      height: 22px;
      margin-top: 7px;
    }

    &-barrier {
      height: 50%;
      width: 2px;
      background-color: $color-secondary-10;
      margin-left: 25px;
      margin-right: 25px;
    }

    > span {
      font-size: $font-size-small;
      font-weight: 500;
      color: $color-secondary-75;
    }
  }
}
