.profile {
  min-height: 100vh;
  height: 100%;
  @include desktop {
    padding-bottom: 40px;
  }

  width: 100vw;
  background-color: $color-primary-lightest;
  &__inner {
    padding-top: $border-padding;
    min-height: 80vh;

    @include tabletandmobile {
      padding-left: 20px;
      padding-right: 20px;
    }
    padding-left: 18%;
    padding-right: 18%;
    padding-top: 40px;
    padding-bottom: 60px;
    width: 100%;

    &-title {
      width: 100%;
      > div {
        > div {
          &.img {
            height: 80px;
            width: 80px;
            @include border-radius(50px);
            background-color: $color-primary;
          }
          &:not(.img) {
            margin-left: 10px;
            > span, > div {
              &.title {
                font-size: $font-size-large;
                font-weight: 600;
              }
              &.sub {
                font-size: $font-size-small;
                font-weight: 500;
                margin-top: -5px;
                margin-left: 2px;
              }
            }
          }
        }
      }
    }
    &_in {
      // border: 1px solid $color-secondary-25;
      @include border-radius(5px);
      background-color: $color-primary-lighter;
      padding: 10px;
      width: 100%;
      &-item {
        margin-left: 5px;
        > span {
          &.tag {
            font-size: $font-size-small;
            font-weight: 600;
            text-transform: uppercase;
            color: $color-primary;
          }
          &.text {

          }
        }
      }
    }
  }
}
