.meetingtime {
  width: 100%;
  background-color: white;
  border-radius: 5px;
  box-shadow: $shadow-sss;
  height: 200px;
  margin-top: $border-padding-inner;

  &__inner {
    background-color: $color-primary-lighter;
    width: 100%;
    margin-top: 50px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
