.circle_l__tags {
  flex-wrap: wrap;

  > div {
    background-color: $color-primary-light;
    color: $color-primary;

    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;

    font-size: $font-size-small;
    font-weight: 600;
  }
}
