.circle {
  min-height: 100vh;
  width: 100vw;
  background-color: $color-primary-lightest;
  @include desktop {
    padding-bottom: 40px;
  }
  &__inner {
    &-img {
      height: 55vh;
      min-height: 400px;
      width: 100%;
    }
  }
}
