.circle_left {
  box-shadow: 0px 2px 30px $color-secondary-10;
  .spacer {
    height: 2px;
  }
  &.dark_theme {
    background-color: transparent;
    box-shadow: none;
  }
  background-color: white;

  @include size-one { padding-top: 40px; padding-bottom: 40px; }
  @include size-two { padding-top: 40px; padding-bottom: 40px; }
  @include size-three { padding-top: 40px; padding-bottom: 40px; }
  @include size-four { @include border-radius(10px); padding: 40px; margin-bottom: 40px; }
  @include size-five { @include border-radius(10px); padding: 40px; margin-bottom: 60px; }
  width: 100%;
  margin-bottom: 20px;
  > div:not(.spacer) {
    @include size-one { padding-left: 25px;  padding-right: 25px; }
    @include size-two { padding-left: 25px;  padding-right: 25px; }
    @include size-three { padding-left: 25px;  padding-right: 25px; }
  }
  color: $color-secondary;
  &-title {
    font-size: $font-size-title;
    font-weight: 500;
    text-transform: capitalize;
  }
  &-text {
    white-space: pre-wrap;
    font-weight: 500;
  }
  &__subhead {
    font-size: $font-size-reg;
    color: $color-primary;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 10px;
  }
  &_tags {
    flex-wrap: wrap;

    > div {
      background-color: $color-primary-light;
      color: $color-primary;
      text-transform: capitalize;
      padding-left: 8px;
      padding-right: 8px;
      padding-top: 2px;
      padding-bottom: 2px;
      margin-right: 10px;
      margin-bottom: 10px;
      @include border-radius(5px);

      font-size: $font-size-small;
      font-weight: 600;
    }
  }
}

.hostabb {
  width: 100%;
  &__thumb {
    height: 40px;
    width: 40px;
    background-color: $color-primary;
    @include border-radius(50px);
    overflow: hidden;
    > img {
      height: 40px;
      width: 40px;
    }
  }
  &__text {
    margin-left: 15px;
    font-weight: 400;

    &-tag {
      color: $color-secondary-25;
      font-weight: 500;
      font-size: $font-size-reg;
    }
    &-name {
      margin-top: -5px;
      color: $color-secondary;
      font-size: $font-size-reg;
      text-transform: capitalize;
    }
  }
}
.circlehost {
  margin-top: 15px;
  @include flexbox;
  @include size-five {
    @include flex-direction(row);
    @include align-items(flex-start);
    @include justify-content(center);
  }
  @include size-four {
    @include flex-direction(row);
    @include align-items(flex-start);
    @include justify-content(center);
  }
  @include size-three {
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(flex-start);

  }
  @include size-two {
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(flex-start);
  }
  @include size-one {
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(flex-start);
  }
  &-img {
    height: 100px;
    width: 100px;
    overflow: hidden;
    @include border-radius(50px);
    margin-top: 5px;
  }
  &__inner {
    flex: 1;
    @include flexbox;
    @include flex-direction(column);
    @include size-five { @include align-items(flex-start); margin-left: 20px; }
    @include size-four { @include align-items(flex-start); margin-left: 20px; }
    @include size-three { @include align-items(center); }
    @include size-two { @include align-items(center); }
    @include size-one { @include align-items(center); }
    &_name {
      margin-top: 10px;
      @include flexbox;
      @include justify-content(flex-start);
      @include align-items(center);
      @include size-five {
        @include flex-direction(row);
        > div { margin-left: 10px; }
      }
      @include size-four {
        @include flex-direction(row);
        > div { margin-left: 10px; }
      }
      @include size-three {
        @include flex-direction(column);
        > div.abb { margin-left: 10px; }
      }
      @include size-two {
        @include flex-direction(column);
        > div.abb { margin-left: 10px; }
      }
      @include size-one {
        @include flex-direction(column);
        > div.abb { margin-left: 10px; }
      }
      > span {
        text-transform: capitalize;
        font-size: 20px;
        font-weight: 400;
        color: $color-secondary;
      }
      > div {
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 8px;
        padding-right: 8px;

        @include border-radius(5px);
        background-color: $color-primary;
        color: white;
        font-size: $font-size-tag;
        text-transform: uppercase;
      }
    }
    &_education {
      margin-bottom: 10px;
      margin-top: 10px;
      height: 20px;
      > img {
        width: 20px;
      }
      > span {
        margin-left: 8px;
        font-weight: 600;
        font-size: $font-size-small;
        text-transform: capitalize;
      }
    }
    &_description {
      font-size: $font-size-small;
      text-align: justify;
    }
  }
}

.circlelocation {
  font-size: $font-size-reg;
  font-weight: 500;
  > img {
    max-width: 24px;
    max-height: 24px;
    width: 100%;
  }
  &-location {
    > div {
      height: 24px;
      width: 24px;
    }
    margin-top: 10px;
  }
  > div {
    > span {
      margin-left: 15px;
      text-transform: capitalize;
    }
  }
}
.circledetails {
  flex-wrap: wrap;
  &__item {
    > img {
      width: 24px;
    }
    font-weight: 400;

    > div {
      > span.tag {
        color: $color-secondary-50;
        font-weight: 600;
        font-size: $font-size-tag;
        text-transform: uppercase;
        margin-left: 15px;
      }
      > span.text {
        color: $color-secondary;
        font-size: $font-size-med;
        text-transform: capitalize;
        font-weight: 500;
        margin-left: 15px;
      }
    }
  }
}
