// color of text on the page
$circle-main: $color-secondary;

// color of the page background
$circle-background: #FCFDFF;

// coloring for the category tags
$circle-tag: $color-primary;
$circle-tag-background: $color-primary-light;

// any subheaders should have this color
$circle-subtext: $color-secondary-25;

// other page elements
$circle-divider: $color-secondary-05;
$circle-cta-background: white;
$circle-cta-button: $color-primary;
