.circle_right {

  &__inner {
    padding-top: 25px;
    padding-bottom: 25px;
    width: 260px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 30px $color-secondary-10;

    &_cont {
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;
      &-price {
        margin-top: -10px;
        font-size: $font-size-reg;
        .large {
          font-size: $font-size-large;
        }
      }
      &-join {
        @include transition(all, 200ms);
        @include user-select(none);

        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;

        border-radius: 50px;
        background-color: $color-primary;
        color: white;
        font-weight: 600;

        &:hover {
          cursor: pointer;
          transform: scale(1.05);
        }
      }
    }
  }
}

.circlesocials {
  width: 240px;
  padding-left: 10px;
  padding-right: 10px;

  > span {
    width: 100%;
    font-weight: 600;
    text-transform: uppercase;
    color: $color-primary;
    font-size: $font-size-small;
  }

  &__in {
    margin-top: 10px;
    width: 100%;
    &_social {
      @include transition(all, 200ms);
      @include user-select(none);

      height: 40px;
      width: 40px;
      border-radius: 50px;
      background-color: $color-secondary-05;
      box-shadow: none;

      &:hover {
        cursor: pointer;
        background-color: white;
        box-shadow: 0px 0px 20px $color-secondary-10;
      }
      &:active {
        opacity: .5;
      }
    }
  }
}
