.circle {
  height: 100%;
  width: 100%;

  &_l {
    color: $color-secondary;
    &-title {
      font-size: $font-size-title;
      font-weight: 500;
    }
    &-text {
      font-weight: 400;
      font-size: $font-size-small;
    }
  }
  &_r {

  }

  &__subhead {
    font-size: $font-size-tag;
    color: $color-primary;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 10px;
  }
}
