.circle_left {
  box-shadow: 0px 2px 30px $color-secondary-05;
  height: 500px;
  flex: 1;
  background-color: white;
  padding: 40px;
  border-radius: 5px;
  
}

.hostabb {
  width: 100%;
  &__thumb {
    height: 40px;
    width: 40px;
    background-color: $color-primary;
    border-radius: 50px;
    overflow: hidden;
    > img {
      height: 40px;
      width: 40px;
    }
  }
  &__text {
    margin-left: 15px;
    font-weight: 400;
    &-tag {
      color: $color-secondary-25;
      font-size: $font-size-small;
    }
    &-name {
      margin-top: -5px;
      color: $color-secondary;
      font-size: $font-size-reg;
      text-transform: capitalize;
    }
  }
}
.circlehost {
  margin-top: 15px;
  &-img {
    height: 100px;
    width: 100px;
    overflow: hidden;
    border-radius: 50px;
    margin-top: 5px;

    > img {
      width: 100%;
      height: 100%;

    }
  }
  &__inner {
    flex: 1;
    margin-left: 20px;
    &_name {
      margin-top: 25px;
      height: 20px;
      > span {
        text-transform: capitalize;
        font-size: 20px;
        font-weight: 400;
        color: $color-secondary;
      }
      > div {
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 8px;
        padding-right: 8px;
        margin-left: 10px;

        border-radius: 5px;
        background-color: $color-primary;
        color: white;
        font-size: $font-size-tag;
        text-transform: uppercase;
      }
    }
    &_education {
      margin-bottom: 35px;
      margin-top: 10px;
      height: 20px;
      > img {
        width: 20px;
      }
      > span {
        margin-left: 8px;
        font-weight: 600;
        font-size: $font-size-small;
        text-transform: capitalize;
      }
    }
    &_description {
      font-size: $font-size-small;
      text-align: justify;
    }
  }
}
