.settings {
  min-height: 100vh;
  width: 100vw;
  background-color: $color-primary-lightest;
  @include desktop {
    padding-bottom: 40px;
  }
  &__inner {
    padding-top: $border-padding;
    min-height: 80vh;

    @include tabletandmobile {
      padding-left: 20px;
      padding-right: 20px;
    }
    padding-left: 18%;
    padding-right: 18%;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;

    &-submit {
      width: 100%;
      > button {
        @include transition(all, 200ms);
        @include user-select(none);

        margin-left: 155px;
        margin-top: 25px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 25px;
        padding-right: 25px;
        width: auto;

        border-radius: 50px;
        font-weight: 600;
        border: none;
        outline: 0;
        background-color: $color-primary;
        color: white;

        font-family: "Open Sans";
        font-weight: 600;
        font-size: $font-size-reg;

        &:hover { cursor: pointer; transform: scale(1.05); }
        &:active { opacity: .75; }
      }
    }
  }
}
