
// Colors
$red: #FF6363; $purple: #7692FF; $purple25: rgba(118,146,255,.25); $black: #021629; $pink: #FF76F6; $navy100: rgba(5,45,84,1); $navy75: rgba(5,45,84,.75); $navy50: rgba(5,45,84,.5);
$navy25: rgba(5,45,84,.25); $navy15: rgba(5,45,84,.15); $navy10: rgba(5,45,84,.10); $navy5: rgba(5,45,84,.04); $navy0: rgba(5,45,84,0); $green: #16E0BD; $blue: #48D5FF;
// Mixins
@mixin user-select($what: none) { -webkit-user-select: $what; -moz-user-select: $what; -ms-user-select: $what; -o-user-select: $what; user-select: $what; }
@mixin transition($what: all, $time: 0.2s) { -webkit-transition: $what $time; -moz-transition: $what $time; -ms-transition: $what $time; -o-transition: $what $time; transition: $what $time; }
@mixin mobile { @media (max-width: 800px) { @content; }}
@mixin desktop { @media (min-width: 800px) { @content; }}
// Preset Classes
.flex-centered-column { display: flex; flex-direction: column; justify-content: center; align-items: center; }
.flex-centered-row { display: flex; flex-direction: row; justify-content: center; align-items: center; }
.flex-top-column { display: flex; flex-direction: column; justify-content: flex-start; align-items: center; }
.flex-top-row { display: flex; flex-direction: row; justify-content: flex-start; align-items: center; }
.flex-spaced-column { display: flex; flex-direction: column; justify-content: space-between; align-items: center; }
.flex-spaced-row { display: flex; flex-direction: row; justify-content: space-between; align-items: center; }
.text-base-bold { font-family: 'Cabin'; font-weight: 600; }
.text-base-medium { font-family: 'Cabin'; font-weight: 500; }
.text-base-regular { font-family: 'Cabin'; font-weight: 400; }
.button-padding { height: 40px; padding-left: 20px; padding-right: 20px; outline: none; border: 0; }
html { overflow: hidden; height: 100%; }

body { height: 100%; overflow: auto; }


// Animations

.element-scale-out {
  -webkit-transform: translateY(100vh);
  -moz-transform: translateY(100vh);
  -ms-transform: translateY(100vh);
  -o-transform: translateY(100vh);
  transform: translateY(100vh);
  opacity: 0;
  height: 0;
  transition: transform 300ms 0ms, opacity 300ms 0ms, height 0ms 300ms;
}
.element-scale-in {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  height: auto;
  transition: transform 300ms 0ms, opacity 300ms 0ms, height 0ms 300ms;
}

// Shortcuts
.back-blk { background-color: $black; }
.fl-wh { height: 100vh; width: 100vw; }
.no-display { display: none !important; }