.col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.col-fs-c {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.col-c {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.col-c-c {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.col-sa {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.col-sa-c {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.col-sb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.col-sb-c {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.col-se {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.col-se-c {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.col-fe {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
.col-fe-c {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}


.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.row-c {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.row-c-c {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.row-fs-c {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.row-sa {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}
.row-sa-c {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.row-sb {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.row-sb-c {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.row-se {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}
.row-se-c {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.row-fe {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}
.row-fe-c {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
