.whyhostfront {
  width: 100vw;
  min-height: 700px;
  height: 100vh;
  position: relative;
  overflow: hidden;
  padding-bottom: 40px;
  @include size-five {
    &-title { font-size: 50px; text-align: right; margin-right: calc(20px + 1%); }
    &-img4 { left: -20vh; }
    &-img5 { left: -18vh; }
  }
  @include size-four {
    &-title { font-size: 50px; text-align: right; margin-right: calc(20px + 1%); }
    &-img4 { left: -12vh; }
    &-img5 { left: -10vh; }
  }
  @include size-three {
    &-title { font-size: 45px; text-align: center; }
    &-img4 { width: 100vw; left: 0; }
    &-img5 { width: 100vw; left: 0; }
  }
  @include size-two {
    &-title { font-size: 40px; text-align: center; }
    &-img4 { width: 100vw; left: 0; }
    &-img5 { width: 100vw; left: 0; }
  }
  @include size-one {
    &-title { font-size: 40px; text-align: center; }
    &-img4 { width: 100vw; left: 0; }
    &-img5 { width: 100vw; left: 0; }
  }
  &-forpros {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: $color-primary;
    color: white;
  }
  &-header {
    width: 100vw;
    z-index: 999;
    position: absolute;
  }
  &-title {
    margin-top: 30vh;
    font-weight: 600;
    color: $color-secondary;
    > div {
      z-index: 9999 !important;
    }
  }
  &-img1, &-img2, &-img3 {
    position: absolute;
    height: 200vh;
    width: 300vw;
    top: -100vw;
    transform: rotate(-40deg);
  }
  &-img1 {
    left: -110vw;
    background-color: $color-primary-lighter;
    z-index: -1;
  }
  &-img2 {
    left: -130vw;
    background-color: $color-primary-light;
    z-index: -1;
  }
  &-img3 {
    left: -150vw;
    background-color: $color-primary;
    z-index: -1;
  }
  &-img4 {
    height: 60vh;
    top: 16vh;
    position: absolute;
    z-index: -1;
  }
  &-img5 {
    height: 60vh;
    width: 90vh;
    top: 21vh;
    z-index: -1;
    position: absolute;
    background-color: $color-primary;
  }
}
.whyhostreasons {
  padding-bottom: 100px;
  background-color: $color-black;
  &__in {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 100px;
    padding-bottom: 50px;
    @include flexbox;
    @include flex-direction(row);
    @include justify-content(space-between);
    @include size-three {
      padding-left: 40px;
      padding-right: 40px;
    }
    @include size-two {
      @include flex-direction(column);
      @include justify-content(flex-start);
      @include align-items(center);
      padding-top: 50px;
      padding-bottom: 50px;
      padding-left: 40px;
      padding-right: 40px;
      > div {
        margin-top: 50px;
        width: 100% !important;
      }
    }
    @include size-one {
      @include flex-direction(column);
      @include justify-content(flex-start);
      @include align-items(center);
      padding-top: 50px;
      padding-bottom: 50px;
      padding-left: 40px;
      padding-right: 40px;
      > div {
        margin-top: 50px;
        width: 100% !important;
      }
    }
    > div {
      width: 30%;
      > img {
        margin-bottom: 25px;
        height: 100px;
      }
      > span {
        color:$color-primary;
        font-weight: 600;
        font-size: $font-size-med;
      }
      > p {
        color: #EEF1FF;
        font-weight: 400;
      }
    }
  }
}
.whyhostplants {
  height: 80vh;
  width: 100vw;
  position: relative;
  > img {
    position: absolute;
    height: 100%;
    left: 40vw;
  }
}
