.whyhostfront {
  width: 100vw;
  min-height: 700px;
  height: 100vh;
  position: relative;
  overflow: hidden;
  padding-bottom: 40px;
  background: linear-gradient(to bottom right, transparent, $color-primary-lighter);
  > img {
    height: 50vh;
    min-width: 600px;
    left: -10vw;
    top: 35vh;
    position: absolute;
    z-index: 1;
  }
  &-header {
    width: 100vw;
    z-index: 999;
    position: absolute;
  }
  &-title {
    font-family: "Cabin", "Open Sans";
    margin-top: 100px;
    margin-right: 5%;
    font-weight: 600;
    line-height: calc(25px + 4vw);
    text-align: right;
    color: $color-primary;
    font-size: calc(2.5vw + 20px);
  }
  &-sub {
    font-family: "Cabin", "Open Sans";
    margin-top: 40px;
    margin-bottom: 50px;
    margin-right: 5%;
    font-weight: 500;
    text-align: right;
    color: $color-secondary;
    font-size: calc(24px + 1vw);
  }
}
.whyhostreasons {
  padding-bottom: 100px;
  background-color: $color-black;
  &__in {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 100px;
    padding-bottom: 50px;
    @include flexbox;
    @include flex-direction(row);
    @include justify-content(space-between);
    @include size-three {
      padding-left: 40px;
      padding-right: 40px;
    }
    @include size-two {
      @include flex-direction(column);
      @include justify-content(flex-start);
      @include align-items(center);
      padding-top: 50px;
      padding-bottom: 50px;
      padding-left: 40px;
      padding-right: 40px;
      > div {
        margin-top: 50px;
        width: 100% !important;
      }
    }
    @include size-one {
      @include flex-direction(column);
      @include justify-content(flex-start);
      @include align-items(center);
      padding-top: 50px;
      padding-bottom: 50px;
      padding-left: 40px;
      padding-right: 40px;
      > div {
        margin-top: 50px;
        width: 100% !important;
      }
    }
    > div {
      width: 30%;
      > img {
        margin-bottom: 25px;
        height: 100px;
      }
      > span {
        color:$color-primary;
        font-weight: 600;
        font-size: $font-size-med;
      }
      > p {
        color: #EEF1FF;
        font-weight: 400;
      }
    }
  }
}
.whyhosthow {
  min-height: 100vh;
  width: 100%;
  padding: 5%;
  background-color: white;
  @include size-two { @include flex-direction(column !important); }
  @include size-one { @include flex-direction(column !important); }
  > img {
    width: 35vw;
    @include size-two { width: auto; max-height: 240px; }
    @include size-one { width: auto; max-height: 240px; }
    @include border-radius(5px);
    box-shadow: $shadow-sssss;
  }
  > div {
    width: 50vw;
    @include size-two { width: 100%; }
    @include size-one { width: 100%; }
    color: $color-secondary;
    > h1 {
      font-size: 40px;
      margin-bottom: 25px;
    }
    > div {
      margin-top: 20px;
      margin-bottom: 20px;
      > div.col-c-c {
        margin-top: 5px;
        height: 40px;
        width: 40px;
        background-color: $color-primary;
        @include border-radius(50px);
        color: white;
        font-size: $font-size-med;
        font-weight: 700;
      }
      > div:not(.col-c-c) {
        > p {
          color: $color-secondary-75;
        }
        flex: 1;
        margin-left: 20px;
      }
    }
  }
}
.whyhostplants {
  height: 80vh;
  width: 100vw;
  position: relative;
  > img {
    position: absolute;
    height: 100%;
    left: 40vw;
  }
}
