.featured_groups {
  height: 25vw;
  width: 100%;
  min-height: 200px;
  position: relative;
  background-color: white;
  border-radius: 5px 5px 0px 0px;
  box-shadow: $shadow-ss;
  overflow: hidden;

  > img {
    z-index: 1;
    position: absolute;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
  }

  &__buttons {
    z-index: 998;
    width: 95%;

    > div {
      width: 50px;
      height: 50px;
      border-radius: 50px;
      background-color: white;
      font-size: 20px;
      color: $color-primary;
      box-shadow: $shadow-sssss;
      font-weight: 600;
    }
  }

  &__dots {
    z-index: 999;
    position: absolute;
    width: 100%;
    bottom: 15px;
    &-inner {
      position: relative;
      width: 75px;
      > div {
        height: 5px;
        width: 5px;
        border-radius: 100px;
        background-color: white;
      }
    }
  }
}
