// load on page
@keyframes loadElement {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// rotation
@keyframes rotating { from { transform: rotate(0deg); } to { transform: rotate(360deg); } }
@-moz-keyframes rotating { from { -moz-transform: rotate(0deg); } to { -moz-transform: rotate(360deg); } }
@-webkit-keyframes rotating { from { -webkit-transform: rotate(0deg); } to { -webkit-transform: rotate(360deg); } }
