.details {
  margin-right: -5vw;
  margin-top: -5vw;
  flex-direction: row-reverse !important;
  > img {
    width: 10vw;
    height: 10vw;
    z-index: 20;
    -webkit-animation: rotating 50s infinite;
    -moz-animation:    rotating 50s infinite;
    -o-animation:      rotating 50s infinite;
    animation:         rotating 50s infinite;
  }
  &__content {
    margin-right: -5vw;
    margin-top: 5vw;
    z-index: 21;

    width: 800px;
    max-width: 90vw;
    min-width: 320px;

    border-radius: 10px;
    background-color: white;
    box-shadow: $shadow-ssss;

    &__head {
      padding-top: 30px;
      padding-bottom: 30px;
      padding-left: 40px;
      padding-right: 40px;
      @include mobile {
        padding-left: 20px;
        padding-right: 20px;
      }
      flex: 1;

      border-radius: 10px 10px 0px 0px;
      background-color: $color-primary;

      &-tag {
        text-transform: uppercase;
        font-weight: 500;
        font-size: $font-size-tag;
        color: #FFFFFF;
      }
      &-text {
        font-weight: 500;
        font-size: $font-size-large;
        color: $color-blue;
      }
    }

    &__main {
      padding-top: 30px;
      padding-bottom: 30px;
      @include mobile {
        padding-left: 20px;
        padding-right: 20px;
      }
      padding-left: 50px;
      padding-right: 50px;

      .details__list {
        &-tag {
          font-size: $font-size-tag;
          font-weight: 600;
          color: $color-primary;
          margin-bottom:20px;
          text-transform: uppercase;
        }
        &-checkedItem {
          margin-bottom: 20px;
          > img {
            margin-top: 5px;
          }
          > span {
            font-weight: Regular;
            font-size: $font-size-reg;
            margin-left: 20px;
            color: $color-secondary;
          }
        }
        margin-bottom: 30px;
      }

      &-spacer {
        height: 2px;
        width: 100%;
        background-color: $color-primary-lighter;
      }
      &-cta {
        padding-top: 30px;
        padding-bottom: 20px;
        > span {
          font-size: $font-size-large;
          font-weight: 500;
          color: $color-secondary;
        }
      }
    }
  }
}
