.doublewindow {
  padding-top: 75px;
  padding-bottom: 40px;
  width: 100%;
  background-color: $color-primary-lighter;
  &__main {
    box-shadow: 0px -2px 0px 0px $color-secondary-05;
    height: 300px;

    &-spacer {
      height: 300px;
      width: 2px;
      background-color: $color-secondary-05;
    }

    &_box {
      height: 100%;
      flex: 1;
      padding-left: 50px;
      padding-right: 50px;
      padding-top: 50px;
      padding-bottom: 80px;

      > img {
        height: 50px;
        width: 50px;
        margin-right: 20px;
      }

      > div {
        height: 100%;
        width: 100%;
        font-size: $font-size-reg;
        color: $color-secondary;

        .doublewindow-title {
          font-weight: 600;
          text-transform: uppercase;
          margin-bottom: 10px;
        }

        .doublewindow-text {
          font-weight: 400;
        }

        .doublewindow-cta {
          margin-top: 30px;
          &-right, &-1, &-2 {
            height: 40px;
            line-height: 40px;
            color: $color-primary;
            font-size: $font-size-reg;
            font-weight: 500;
            text-decoration: none;

          }

          &-right {
            @include transition(all, 200ms);

            &:hover {
              cursor: pointer;
              color: $color-secondary;
            }
          }

          &-1 {
            background-color: $color-primary;
            color: white;
            margin-right: 20px;

            &:active {
              opacity: .75;
            }
          }

          &-2 {
            background-color: white;

            &:active {
              background-color: $color-primary-lighter
            }
          }

          &-1, &-2 {
            @include transition(all, 200ms);
            padding-left: 15px;
            padding-right: 15px;

            box-shadow: 0 2px 5px 0 $color-secondary-10, 0 2px 10px 0 $color-secondary-10;

            outline: none;
            border: none;
            border-radius: 5px;

            font-size: $font-size-small;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
