.front {
  @include tabletandmobile { height: 100vh }
  height: calc(100vh - 40px);
  width: 100vw;
  min-height: 660px;
  z-index: 10;
  position: relative;
  &-header {
    width: 100vw;
    z-index: 999;
  }
  &__cta {
    z-index: 999;
    flex: 1;
    width: 100%;
    padding-left: calc(40px + 1%); padding-right: calc(40px + 1%);
    @include size-five { padding-left: calc(80px + 1%); padding-right: calc(80px + 1%); }
    @include size-four { padding-left: calc(60px + 1%); padding-right: calc(60px + 1%); }
    padding-bottom: calc(60px + 1%);
    @include user-select(none);

    &_in {
      width: 100%;
      @include size-one {
        flex-direction: column !important;
        &-social > a {
          background-color: $color-black !important;
          margin-left: 10px !important;
          margin-right: 10px !important;
          margin-bottom: 50px;
        }
        &-cta {
          width: 100%;
        }
      }
      &-social {
        > a {
          @include transition(all, 200ms);
          height: 50px;
          width: 50px;
          margin-right: 25px;
          background-color: $color-primary-lighter;
          @include border-radius(50px);
          &:hover {
            background-color: $color-primary;
          }
        }
      }
      &-cta {
        @include transition(all, 200ms);
        @include size-three { text-align: center; background-color: $color-primary; color: white; }
        @include size-two { text-align: center; background-color: $color-primary; color: white; }
        @include size-one { text-align: center; background-color: $color-primary; color: white; }
        color: $color-primary;
        font-size: $font-size-med;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 30px;
        padding-right: 30px;
        border: 2px solid $color-primary;
        font-weight: 600;
        @include border-radius(10px);
        > svg {
          height: 16px;
          margin-left: 10px;
          > g > g {
            @include transition(all, 200ms);
            @include size-five { fill: $color-primary; }
            @include size-four { fill: $color-primary; }
            @include size-three { fill: white; }
            @include size-two { fill: white; }
            @include size-one { fill: white; }
          }
        }
        &:hover {
          cursor: pointer;
          background-color: $color-primary;
          color: white;
          > svg > g > g {
            fill: white;
          }
        }
        &:active {
          opacity: .75;
        }
      }
    }

    @include flexbox;
    @include flex-direction(row);
    @include justify-content(flex-end);
    @include align-items(flex-end);
  }
  &__text {
    z-index: 9999;
    width: 100vw;
    @include user-select(none);
    @include size-five { padding-top: calc(40px + 1%); padding-left: calc(80px + 1%); }
    @include size-four { padding-top: calc(40px + 1%); padding-left: calc(60px + 1%); }
    @include size-three { padding-top: 10%; text-align: center;  }
    @include size-two { padding-top: 15%; text-align: center; }
    @include size-one { padding-top: 20%; text-align: center; }
    &-title {
      @include size-five { font-size: 60px; }
      @include size-four { font-size: 50px; }
      @include size-three { font-size: 50px; }
      @include size-two { font-size: 45px; }
      @include size-one { font-size: 40px; }
    }
    > span {
      font-family: "Cabin";
      text-shadow: 0px 0px 50px $color-black;
    }
    &-title {
      color: #FCFDFF;
      font-weight: 500;
    }
    &-sub {
      color: $color-primary;
      font-size: 35px;
      font-weight: 400;
    }
  }
  &-filter1 {
    height: 25vh;
    width: 100vw;
    z-index: 99;
    @include linear-gradient(transparent, $color-black)
    position: absolute;
    bottom: 0px;
  }
  &-filter2 {
    height: 25vh;
    width: 100vw;
    z-index: 99;
    @include linear-gradient($color-black-50,transparent)
    position: absolute;
    top: 0px;
  }
}
.front-header.light .headerLoggedOut-link span {
  color: white !important;
}
.landing-intro {
  height: 300px;
  width: 100%;
  background-color: $color-primary;
  color: white;
  text-align: center;
  > span.tag {
    margin-bottom: 10px;
  }
  > span.text {
    font-size: 40px;
    @include tabletandmobile { padding-left: 10px; padding-right: 10px; font-size: $font-size-med }
    font-family: "Cabin";
    font-weight: 700;
  }
}
.landing-reasons {
  padding-bottom: 100px;
  background-color: $color-primary-lighter;
  &__in {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 100px;
    padding-bottom: 50px;
    @include flexbox;
    @include flex-direction(row);
    @include justify-content(space-between);
    @include size-three {
      padding-left: 40px;
      padding-right: 40px;
    }
    @include size-two {
      @include flex-direction(column);
      @include justify-content(flex-start);
      @include align-items(center);
      padding-top: 50px;
      padding-bottom: 50px;
      padding-left: 40px;
      padding-right: 40px;
      > div {
        margin-top: 50px;
        width: 100% !important;
      }
    }
    @include size-one {
      @include flex-direction(column);
      @include justify-content(flex-start);
      @include align-items(center);
      padding-top: 50px;
      padding-bottom: 50px;
      padding-left: 40px;
      padding-right: 40px;
      > div {
        margin-top: 50px;
        width: 100% !important;
      }
    }
    > div {
      width: 30%;
      > img {
        margin-bottom: 25px;
        height: 50px;
      }
      > span {
        color: $color-secondary-75;
        font-weight: 600;
        font-size: $font-size-med;
      }
      > p {
        color: $color-secondary-35;
        font-weight: 400;
      }
    }
  }
}
.l_double {
  height: 50vw;
  min-height: 600px;
  width: 100%;
  > div {
    position: relative;
    > img {
      height: 30vw;
      position: absolute;
      -webkit-animation: rotating 150s infinite;
      -moz-animation:    rotating 150s infinite;
      -o-animation:      rotating 150s infinite;
      animation:         rotating 150s infinite;
    }
    h1 {
      font-size: 2.5vw;
    }
  }
  &__l {
    > img { right: -15vw }
    overflow: hidden;
    width: 50%;
    height: 100%;
    background-color: #EEF1FF;
    padding-left: 5%;
    h1 {
      color: $color-primary;
    }
    div {
      padding: 10px;
      width: 60%;
      margin-top: 10px;
      background-color: white;
      @include border-radius(5px);
      > span.title {
        font-weight: 600;
        color: $color-primary;
      }
      > span.text {
        color: $color-primary-ligh;
      }
    }
  }
  &__r {
    box-shadow: inset 30px 0px 30px $color-black-10;
    overflow: hidden;
    padding-left: 20%;
    > img { left: -15vw; }
    width: 50%;
    height: 100%;
    background-color: $color-secondary;
    > span {
      flex: 1;
    }
  }
}
