.front {
  @include user-select(none);
  @include mobile {
    height: 800px;
  }
  background: $color-primary-lighter;
  z-index: 1;
  height: calc(100vh - 40px);
  min-height: 640px;
  width: 100%;
  position: relative;
  &__header {
    z-index: 9999;
    position: absolute;
    top: 0;
    width: 100%;
  }
  &__background {
    z-index: 2;
    top: 0;
    position: absolute;
    flex: 1;
    img {
      @include mobile {
        height: 800px;
      }
      min-width: 100vw;
      height: calc(100vh - 40px);
      min-height: 640px;
      bottom: 0;
    }
  }
  &__content {
    z-index: 3;
    height: 90%;
    width: 100%;

    &_in {
      margin-top:75px;
      text-align: center;
      width: 90%;
      &_cta {
        > a {
          @include transition(all,200ms);
          margin-top: 25px;
          padding-left: 25px;
          padding-right: 25px;
          padding-top: 15px;
          padding-bottom: 15px;
          @include border-radius(50px);
          border: none;
          transform: scale(1);
          background-color: $color-primary;
          color: white;

          box-shadow: $shadow-ssss;
          font-size: $font-size-reg;
          font-weight: 600;

          &:hover {
            cursor: pointer;
            box-shadow: $shadow-sssss;
            transform: scale(1.05);
          }
        }
      }
      > div {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 25px;
        > div {
          padding-right: 20px;
          padding-left: 20px;
          padding-top: 5px;
          padding-bottom: 5px;
          @include border-radius(50px);
          background-color: $color-primary-light;
          margin-top: 20px;

          color: $color-primary;
          font-size: $font-size-small;
          font-weight: 600;
        }
      }

      &-title {
        @include mobile {
          text-align: center;
        }
        color: $color-primary;
        text-shadow: 0px 0px 15px $color-primary-light;
        font-weight: Bold;
        letter-spacing: -1px;
        font-weight: 400;
        font-size: calc(20pt + 6vw);
      }
      &-desc {
        font-weight: 500;
        font-size: calc(16pt + .5vw);
        color: $color-secondary;
      }
    }
  }
}

.landing_front {
  @include tabletandmobile { height: 100vh }
  height: calc(100vh - 40px);
  width: 100vw;
  min-height: 660px;
  z-index: 10;
  position: relative;
  &-header {
    width: 100vw;
    z-index: 999;
  }
  &-filter1 {
    height: 60vh;
    width: 100%;
    background: linear-gradient(to bottom, rgba(255,255,255,.75), rgba(255,255,255,0));
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
  }
  &-filter2 {
    height: 75vh;
    width: 100%;
    background: linear-gradient(to bottom, rgba(255,255,255,.75), rgba(255,255,255,0));
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
  }
  &__in {
    flex: 1;
    > img {
      height: 60px;
      width: 60px;
      margin-top: 5%;
      @include border-radius(50px);
      box-shadow: $shadow-ssss;
      -webkit-animation: rotating 120s infinite;
      -moz-animation:    rotating 120s infinite;
      -o-animation:      rotating 120s infinite;
      animation:         rotating 120s infinite;
    }
    z-index: 21;
    &-title {
      margin-top: 2%;
      text-align: center;
      color: $color-secondary;
      font-size: calc(3vw + 16px);
      font-weight: 400;
    }
    &-btn {
      margin-top: 8%;
      @include size-five {
        margin-top: 4%;
      }
      @include flexbox;
      @include flex-direction(row);
      @include justify-content(center);
      @include align-items(center);

      @include mobile {
        @include flexbox;
        @include flex-direction(column);
      }
      > span {
        color: $color-secondary-75;
        font-weight: 600;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      > a {
        box-shadow: $shadow-sssss;
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  }
  &_social {
    margin-bottom: 5%;
  }
}

.landing-intro {
  height: 300px;
  width: 100%;
  background-color: $color-primary;
  color: white;
  text-align: center;
  > span.tag {
    margin-bottom: 10px;
  }
  > span.text {
    font-size: $font-size-large;
    @include tabletandmobile { padding-left: 10px; padding-right: 10px; font-size: $font-size-med }
    font-family: "Cabin";
    font-weight: 700;
  }
}

.landing-reasons {
  padding-bottom: 100px;
  background-color: $color-primary-lighter;
  &__in {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 100px;
    padding-bottom: 50px;
    @include flexbox;
    @include flex-direction(row);
    @include justify-content(space-between);
    @include size-three {
      padding-left: 40px;
      padding-right: 40px;
    }
    @include size-two {
      @include flex-direction(column);
      @include justify-content(flex-start);
      @include align-items(center);
      padding-top: 50px;
      padding-bottom: 50px;
      padding-left: 40px;
      padding-right: 40px;
      > div {
        margin-top: 50px;
        width: 100% !important;
      }
    }
    @include size-one {
      @include flex-direction(column);
      @include justify-content(flex-start);
      @include align-items(center);
      padding-top: 50px;
      padding-bottom: 50px;
      padding-left: 40px;
      padding-right: 40px;
      > div {
        margin-top: 50px;
        width: 100% !important;
      }
    }
    > div {
      width: 30%;
      > img {
        margin-bottom: 25px;
        height: 50px;
      }
      > span {
        color: $color-secondary-75;
        font-weight: 600;
      }
      > p {
        color: $color-secondary-25;
        font-weight: 400;
      }
    }
  }
}
