.front {
  @include user-select(none);
  @include mobile {
    height: 800px;
  }
  background: $color-primary-lighter;
  z-index: 1;
  height: calc(100vh - 40px);
  min-height: 640px;
  width: 100%;
  position: relative;
  &__header {
    z-index: 9999;
    position: absolute;
    top: 0;
    width: 100%;
  }
  &__background {
    z-index: 2;
    top: 0;
    position: absolute;
    flex: 1;
    img {
      @include mobile {
        height: 800px;
      }
      min-width: 100vw;
      height: calc(100vh - 40px);
      min-height: 640px;
      bottom: 0;
    }
  }
  &__content {
    z-index: 3;
    height: 90%;
    width: 100%;

    &_in {
      margin-top:75px;
      text-align: center;
      width: 90%;
      &_cta {
        > a {
          @include transition(all,200ms);
          margin-top: 25px;
          padding-left: 25px;
          padding-right: 25px;
          padding-top: 15px;
          padding-bottom: 15px;
          @include border-radius(50px);
          border: none;
          transform: scale(1);
          background-color: $color-primary;
          color: white;

          box-shadow: $shadow-ssss;
          font-size: $font-size-reg;
          font-weight: 600;

          &:hover {
            cursor: pointer;
            box-shadow: $shadow-sssss;
            transform: scale(1.05);
          }
        }
      }
      > div {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 25px;
        > div {
          padding-right: 20px;
          padding-left: 20px;
          padding-top: 5px;
          padding-bottom: 5px;
          @include border-radius(50px);
          background-color: $color-primary-light;
          margin-top: 20px;

          color: $color-primary;
          font-size: $font-size-small;
          font-weight: 600;
        }
      }

      &-title {
        @include mobile {
          text-align: center;
        }
        color: $color-primary;
        text-shadow: 0px 0px 15px $color-primary-light;
        font-weight: Bold;
        letter-spacing: -1px;
        font-weight: 400;
        font-size: calc(20pt + 6vw);
      }
      &-desc {
        font-weight: 500;
        font-size: calc(16pt + .5vw);
        color: $color-secondary;
      }
    }
  }
}
