.howitworks {
  position: relative;
  width: 100vw;
  &-background {
    position: absolute;
    width: 100%;
    right: 0;
  }
  &-graphic {
    -webkit-animation: -webkit-rotating 40s infinite;
    -moz-animation:    -moz-rotating 40s infinite;
    animation:         rotating 40s infinite;
    position: absolute;
    height: calc(100px + 25vw);
    top: calc(100px + 8vw);
    left: calc(-150px - 4vw);
  }
  &__content {
    height: 100%;
    width: 100%;
    &-title {
      margin-top: 12vw;
    }
    &__step {
      margin-top: 4vw;
      &-img {
        height: 7vw;
        max-width: 40px;
        max-height: 40px;
        width: 7vw;
        @include border-radius(50px);
        background-color: $color-primary;
        margin-right: 20px;

        color: white;
        font-size: $font-size-small;
        font-weight: 600;
      }
      &_text {
        width: 50vw;
        font-size: $font-size-med;
        &-head {
          text-transform: uppercase;
          font-weight: 600;
          color: $color-primary;
        }
        &-text {
          font-weight: 500;
          color: $color-secondary;
        }
      }
    }
    &-cta {
      @include tabletandmobile {
        font-size: $font-size-small;
        flex-direction: column !important;
      }
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 150px;
      padding-bottom: 150px;
      font-size: $font-size-med;
      width: 100%;
      background-color: #EEF1FF;
      &-1 {
        @include tabletandmobile {
          align-items: center !important;
          margin-right: 0;
          margin-bottom: 20px;
        }
        margin-right: calc(25px + 2vw);
        &-1 {
          color: $color-primary;
          font-weight: 600;
          font-size: 40px;
        }
        &-2 {
          color: $color-secondary-75;
          font-weight: 600;
          font-size: $font-size-large;
        }
      }
      &-2 {
        @include transition(all, 200ms);
        @include user-select(none);
        @include tabletandmobile {
          font-size: $font-size-reg;
        }
        height: 60px;
        padding-left: 30px;
        padding-right: 30px;

        @include border-radius(50px);
        background-color: $color-secondary;
        opacity: 1;

        color: white;
        font-size: $font-size-med;
        font-weight: 500;
        &:hover {
          cursor: pointer;
          @include desktop {
            transform: scale(1.05);
          }
        }
        &:active {
          opacity: .75
        }
      }
    }
  }
}
#hiw-step-1 {
  @include mobile { margin-top: 50px; }
  @include desktop { margin-left: 100px; }
}
#hiw-step-2 {
  @include desktop { margin-left: 250px; }
}
#hiw-step-3 {
  @include desktop { margin-left: 400px; }
}
